*.o.cmd
*.o
*.tmp
*.cmd
*.lex.c 
*.tab.c 
*.su
.config
.config.*
.binman_stamp
System.map
*.Xil
arch/arm/dts/*.dtb
arch/arm/dts/*.tmp
include/autoconf.mk
include/autoconf.mk.dep
include/config.h
include/config/*
include/generated/*
lib/asm-offsets.s
arch/arm/lib/asm-offsets.s
arch/arm/lib/lib.a
dts/dt.dtb
u-boot
u-boot-dtb.bin
u-boot-elf.lds
u-boot-nodtb.bin
u-boot.bin
u-boot.cfg
u-boot.dtb
u-boot.elf
u-boot.lds
u-boot.map
u-boot.srec
u-boot.sym
scripts/dtc/dtc-parser.tab.h